.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
}

.article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border: 1px solid #444;
}

.article-container {
  width: 100%;
  max-width: 678px;
  margin: 0 auto;
}

.image-wrapper {
  width: 100%;
}

.comment-wrapper {
  max-width: 678px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
  list-style: none;
}

.comment-field {
  padding: 0.5rem;
  border: 1px solid black;
}

.fa-thumbs-up,
.fa-thumbs-down {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-thumbs-down {
  position: relative;
  top: 4px;
  margin-left: 0.5rem;
}

.votes-container {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
}
