.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
}

.article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border: 1px solid #444;
}

.article-container {
  width: 100%;
  max-width: 678px;
  margin: 0 auto;
}

.image-wrapper {
  width: 100%;
}
